{% extends "auth/layout.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-body p-4">

                    <h2 class="text-center mb-4">
                        Login
                    </h2>

                    <form action="/login" method="post">

                        {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endif %}

                        <input
                            type="hidden"
                            name="email"
                            value="{{ email }}"
                        >

                        <div class="mb-3">
                            <label>Email</label>

                            <input
                                type="email"
                                value="{{ email }}"
                                class="form-control"
                                readonly
                            >
                        </div>

                        <div class="mb-3">
                            <label>Password</label>

                            <input
                                type="password"
                                name="password"
                                class="form-control"
                                required
                            >
                        </div>

                        <button
                            class="btn btn-success w-100"
                        >
                            Login
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}