<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Bookify</title>
   <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>

    <div class="register-container">

        <h1>Bookify</h1>
        <h2>Create Account</h2>

        <form action="/register" method="post">

            <label for="name">Name</label>
            <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter Your Name"
            >

            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter Your Email"
            >

            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Your Password"
            >

            <label for="confirm_password">Confirm Password</label>
            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                placeholder="Confirm Your Password"
            >

            <button type="submit" id="register_btn">
                Register
            </button>

        </form>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</body>
</html>