{% extends "user/layout.html" %}

{% block title %}
Issued Books
{% endblock %}

{% block content %}

<h2 class="mb-4">
    My Issued Books
</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table">

            <thead>
                <tr>
                    <th>Book</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>
            </thead>

           <tbody>
    {% for issue, book in issued_books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ issue.issued_date.strftime('%d %b %Y') }}</td>
        <td>{{ issue.due_date.strftime('%d %b %Y') }}</td>
        <td>{{ issue.status }}</td>
    </tr>
    {% endfor %}
</tbody>
        </table>
    </div>
</div>

{% endblock %}