{% extends "user/layout.html" %}

{% block title %}
My Requests
{% endblock %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">
        My Book Requests
    </h2>

    <div class="card shadow-sm">
        <div class="card-body">

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Book Name</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>

                    {% for request, book in requests %}
                    <tr>

                        <td>{{ request.id }}</td>

                        <td>{{ book.title }}</td>

                        <td>
                            {{ request.status }}
                        </td>

                        <td>

                            {{ request.created_at.strftime('%d %b %Y') }}
                        </td>


                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}